//@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: 700;
}

@import "reset";
@import "typography";
@import "utilities";
@import "logo";
@import "buttons";
@import "components";
@import "icons";
@import "animations";
@import "invites";

body {
  background: url('../images/background.svg'), no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-font-smoothing:antialiased !important;
  font-family: 'Rubik', sans-serif;
}

.container {
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  margin: 0 auto;

  @media screen and (min-width: 520px) and (max-width: 768px) {
    width: 80%;
  }

  @media screen and (min-width: 769px) {
    max-width: 1024px;
    padding: 0 20px;
  }
}

input:focus, button:focus {
  outline: none;
}

a {
  color: $blue;
  text-decoration: none;
}

.locked {
  overflow: hidden;
}