@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: 700; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.074rem;
  color: #2E364E;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  font-weight: 700; }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 2.441rem; } }

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.728rem;
  color: #2E364E;
  letter-spacing: 0.5px;
  line-height: 1.25em;
  font-weight: 500; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 1.953rem;
      letter-spacing: 1px;
      line-height: 1.5em; } }

h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.44rem;
  color: #2E364E;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  font-weight: 500; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 1.563rem;
      letter-spacing: 0.68px; } }

h4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  color: #2E364E;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  font-weight: 400; }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 1.25rem;
      letter-spacing: 0.53px; } }

h5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  color: #2E364E;
  letter-spacing: 0.5px;
  line-height: 1.5em;
  font-weight: 400; }

p, label {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  color: #828695;
  letter-spacing: 0.5px;
  line-height: 1.6;
  font-weight: 400; }

.hero-title {
  font-family: 'Rubik', sans-serif;
  font-size: 1.875rem;
  color: #2E364E;
  letter-spacing: 0;
  line-height: 1.00em;
  font-weight: 700; }
  @media screen and (min-width: 768px) {
    .hero-title {
      font-size: 2.375rem;
      line-height: 1.00em; } }
  @media screen and (min-width: 1024px) {
    .hero-title {
      font-size: 2.75rem;
      line-height: 1.02em; } }

.hero-content {
  opacity: 0.6;
  font-family: 'Rubik', sans-serif;
  font-size: 1.125rem;
  color: #2E364E;
  letter-spacing: 0;
  line-height: 1.44em; }
  @media screen and (min-width: 768px) {
    .hero-content {
      opacity: 0.6;
      font-size: 1.25rem;
      line-height: 1.50em; } }
  @media screen and (min-width: 1024px) {
    .hero-content {
      opacity: 0.6;
      font-size: 1.35rem;
      line-height: 1.57em; } }

.cards-title {
  font-family: 'Rubik', sans-serif;
  font-size: 1.1875rem;
  color: #2E364E;
  letter-spacing: 0.53px;
  line-height: 1.05em;
  font-weight: 500; }

.body-link {
  font-family: 'Rubik', sans-serif;
  font-size: 0.875rem;
  color: #2524FF;
  letter-spacing: 0;
  font-weight: 500; }
  @media screen and (min-width: 768px) {
    .body-link {
      font-size: 0.74375rem; } }
  @media screen and (min-width: 1024px) {
    .body-link {
      font-size: 1rem;
      letter-spacing: 0.77px;
      line-height: 1.56em; } }

.card-link {
  font-family: 'Rubik', sans-serif;
  font-size: 0.75rem;
  color: #2524FF;
  letter-spacing: 1.5px;
  line-height: 1.67em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500; }
  @media screen and (min-width: 768px) {
    .card-link {
      font-size: 0.875rem;
      letter-spacing: 1.75px;
      line-height: 1.43em; } }

.center {
  text-align: center; }

.flex-m {
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media screen and (min-width: 768px) {
  .flex-d {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

@media screen and (max-width: 767px) {
  .flex-vert-m {
    display: flex;
    flex-direction: column-reverse; } }

@media screen and (max-width: 1023px) {
  .desktop {
    display: none; } }

@media screen and (max-width: 767px) {
  .tablet {
    display: none; } }

@media screen and (min-width: 768px) {
  .mobile {
    display: none; } }

.hide {
  display: none; }

.logo {
  background: url("../images/logo/logo.svg"), no-repeat;
  background-size: cover;
  width: 130px;
  height: 40px; }

.button {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  padding: 12px 32px;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  border: 0;
  background: none;
  font-weight: 500; }
  @media screen and (min-width: 768px) {
    .button {
      padding: 15px 40px; } }
  .button--none {
    padding: 0;
    height: initial; }
  .button--primary {
    background: #2524FF;
    color: white; }
  .button--primary-animate {
    background: #2524FF;
    color: white;
    width: 170px;
    height: 50px;
    position: relative;
    overflow: hidden;
    padding: 0; }
    .button--primary-animate:after {
      content: " ";
      position: absolute;
      width: 200%;
      height: 100%;
      top: -100%;
      right: 100%;
      transition: right 0.6s ease;
      z-index: 0;
      border-bottom: 100px solid #ffb3d4;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent; }
    .button--primary-animate:hover:after {
      right: -40%; }
    .button--primary-animate:hover .button--primary-animate__content {
      letter-spacing: 3px; }
    .button--primary-animate__content {
      z-index: 100;
      position: relative;
      width: 100%;
      height: 100%;
      transition: letter-spacing 0.5s ease; }
  .button--outline {
    border: 2px solid #2524FF;
    color: #2524FF;
    text-transform: uppercase;
    background: transparent;
    width: max-content;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease; }
    .button--outline:after {
      content: " ";
      position: absolute;
      width: 200%;
      height: 100%;
      top: -100%;
      right: 100%;
      transition: right 0.6s ease;
      z-index: 0;
      border-bottom: 100px solid #2524FF;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent; }
    .button--outline:hover {
      color: white; }
    .button--outline:hover:after {
      right: -40%; }
    .button--outline:hover .button--outline-animate__content {
      letter-spacing: 3px; }
    .button--outline__content {
      z-index: 100;
      position: relative;
      width: 100%;
      height: 100%;
      transition: letter-spacing 0.5s ease; }

@keyframes widthLength {
  from {
    width: 0; }
  to {
    width: 100%; } }

.a--animated {
  background: url("../images/color.svg") no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 100%;
  transition: background-position-x 0.5s ease;
  position: relative; }
  .a--animated:hover {
    background-position-x: 0; }
  .a--animated:hover:after {
    width: 100%;
    transition: width 0.3s ease; }
  .a--animated:after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: #FEB8D6;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease; }

@keyframes slideLeftAnim {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateX(-15%); } }

@keyframes slideRightAnim {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateX(15%); } }

.sbFadeLeft {
  animation-name: slideLeftAnim;
  animation-duration: 0.5s; }

.sbFadeRight {
  animation-name: slideRightAnim;
  animation-duration: 0.5s; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft {
  animation-name: fadeOutLeft; }

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig; }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 24px, 0px);
    -ms-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInDown7 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    opacity: 0.7;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown7 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 24px, 0px);
    -ms-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    opacity: 0.7;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

.fadeInDown7 {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-24px);
    transform: translateX(-24px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-24px);
    -ms-transform: translateX(-24px);
    transform: translateX(-24px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(56px);
    transform: translateX(56px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(56px);
    -ms-transform: translateX(56px);
    transform: translateX(56px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes SlideDown {
  0% {
    -webkit-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    -webkit-transform: none;
    transform: none; } }

@keyframes SlideDown {
  0% {
    -webkit-transform: translate3d(0px, 24px, 0px);
    -ms-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

.SlideDown {
  -webkit-animation-name: SlideDown;
  animation-name: SlideDown; }

@-webkit-keyframes growLeft {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes growLeft {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); } }

.growLeft {
  -webkit-animation-name: growLeft;
  animation-name: growLeft; }

.loader {
  background: #F9FBFF;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 42px;
  color: #2E364E; }
  .loader__bar {
    background-color: #2524FF;
    height: 4px;
    animation-name: widthLength;
    animation-duration: 1.3s; }
  .loader__num {
    margin-left: 40px;
    margin-top: 32px; }

.nav {
  padding-top: 24px; }
  .nav__list__item {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #2524FF;
    letter-spacing: 0;
    margin-right: 24px;
    font-weight: 500; }
    .nav__list__item:nth-child(3) {
      margin-right: 51px; }
    .nav__list__item:last-child {
      margin-right: 0; }
    .nav__list__item .button {
      text-transform: uppercase; }

.hero {
  padding: 72px 0;
  height: initial;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden; }
  @media screen and (min-width: 1024px) {
    .hero {
      min-height: 600px;
      max-height: 600px;
      padding: 120px 0 0; } }
  @media screen and (min-width: 1230px) {
    .hero {
      height: 95vh; } }
  @media screen and (min-width: 1024px) {
    .hero__title, .hero__text {
      text-align: left; } }
  @media screen and (max-width: 1023px) {
    .hero__title, .hero__text {
      text-align: center;
      margin: 0 auto; } }
  .hero__title {
    margin-bottom: 16px;
    overflow: hidden; }
    .hero__title h1 {
      opacity: 0;
      animation: fadeInDown ease .75s forwards; }
    @media screen and (max-width: 768px) {
      .hero__title {
        margin-top: 0; } }
    @media screen and (min-width: 1024px) {
      .hero__title {
        margin-top: 68px; } }
  .hero__text {
    overflow: hidden; }
    .hero__text h4 {
      font-size: 1.35rem;
      line-height: 1.57em;
      color: rgba(46, 54, 78, 0.8);
      opacity: 0;
      animation: fadeInDown ease .75s forwards;
      animation-delay: .25s; }
  @media screen and (max-width: 1024px) {
    .hero__content {
      display: block; } }
  .hero__content__text {
    max-width: 600px; }
    @media screen and (max-width: 1023px) {
      .hero__content__text {
        margin: 0 auto; } }
    @media screen and (min-width: 1024px) and (max-width: 1310px) {
      .hero__content__text {
        margin-left: 10%; } }
  .hero__content__image {
    max-width: 700px;
    margin: 48px auto; }
    .hero__content__image img {
      width: 100%; }
    @media screen and (max-width: 767px) {
      .hero__content__image {
        margin: 32px auto; } }
    @media screen and (min-width: 1024px) {
      .hero__content__image {
        display: none; } }
  .hero__animation {
    position: absolute;
    max-width: 1440px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20%;
    margin: 0 auto; }
    @media screen and (min-width: 769px) and (max-width: 1024px) {
      .hero__animation {
        width: 1240px;
        margin-left: -40px; } }

.secure {
  height: 567px; }
  @media screen and (max-width: 767px) {
    .secure {
      height: 100%; } }
  .secure__title {
    padding: 40px 0;
    overflow: hidden; }
    @media screen and (min-width: 768px) {
      .secure__title {
        width: 100%;
        margin: 56px auto;
        padding: 0; } }
    @media screen and (min-width: 1025px) {
      .secure__title {
        width: 78%; } }
    .secure__title h2 {
      opacity: 0;
      animation: fadeInDown ease .75s forwards; }
  .secure__list {
    animation: fadeInDown ease .75s forwards;
    animation-delay: .5s;
    opacity: 0; }
    @media screen and (max-width: 767px) {
      .secure__list {
        width: 100%;
        margin: 0 auto; } }
    @media screen and (min-width: 768px) and (max-width: 1230px) {
      .secure__list {
        position: absolute;
        width: 92%;
        left: 0;
        right: 0;
        margin: 0 auto; } }
    .secure__list__item {
      text-align: left;
      background: #FFFFFF;
      box-shadow: 0 15px 30px 0 rgba(46, 54, 78, 0.1);
      border-radius: 4px;
      padding: 40px 32px;
      box-sizing: border-box;
      flex: 1;
      transition: transform 0.3s ease;
      cursor: pointer; }
      @media screen and (max-width: 767px) {
        .secure__list__item {
          margin-bottom: 40px; } }
      @media screen and (min-width: 768px) {
        .secure__list__item {
          padding: 32px 44px;
          margin-right: 24px;
          min-height: 325px; } }
      @media screen and (min-width: 1024px) {
        .secure__list__item {
          margin-right: 40px;
          min-height: 261px; } }
      .secure__list__item:last-child {
        margin-bottom: 0;
        margin-right: 0; }
      .secure__list__item__icon {
        margin-bottom: 29px; }
      .secure__list__item__title {
        margin-bottom: 8px;
        font-weight: 500; }
      .secure__list__item:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease; }

.steps {
  padding: 72px 0; }
  @media screen and (min-width: 768px) {
    .steps {
      padding: 172px 0; } }
  .steps__title {
    margin-bottom: 24px;
    overflow: hidden; }
    .steps__title h2 {
      opacity: 0;
      animation: fadeInDown ease .75s forwards; }
  .steps__subtitle {
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn ease .75s forwards;
    animation-delay: .5s; }
    @media screen and (min-width: 768px) {
      .steps__subtitle {
        width: 70%;
        margin: 0 auto 56px; } }
  .steps__content {
    margin-bottom: 32px;
    opacity: 0;
    animation: fadeInDown ease .75s forwards;
    animation-delay: .5s; }
    @media screen and (min-width: 768px) {
      .steps__content {
        margin-bottom: 48px; } }
    .steps__content__list {
      position: relative; }
      @media screen and (min-width: 420px) {
        .steps__content__list {
          display: flex;
          flex-direction: column;
          align-items: center; } }
      .steps__content__list__item {
        margin-bottom: 32px;
        text-align: left;
        padding: 20px;
        align-items: flex-start !important;
        box-sizing: border-box;
        width: 350px;
        cursor: pointer; }
        @media screen and (min-width: 1024px) {
          .steps__content__list__item {
            padding: 24px 40px;
            width: 421px; } }
        @media screen and (max-width: 767px) {
          .steps__content__list__item {
            background: #FFFFFF;
            box-shadow: 0 0px 30px 0 rgba(46, 54, 78, 0.1);
            border-radius: 4px;
            width: 100%; } }
        .steps__content__list__item__num {
          margin-right: 24px; }
        .steps__content__list__item__title {
          margin-bottom: 8px;
          font-weight: 500; }
        .steps__content__list__item--active {
          width: 100%;
          height: 130px;
          position: absolute;
          z-index: -1;
          top: 0;
          transition: top 0.5s ease; }
          @media screen and (min-width: 768px) {
            .steps__content__list__item--active {
              background: #FFFFFF;
              box-shadow: 0 15px 30px 0 rgba(46, 54, 78, 0.1);
              border-radius: 4px; } }
        .steps__content__list__item:last-child {
          margin-bottom: 0; }
    .steps__content__image {
      width: 50%;
      margin-left: 40px; }
      .steps__content__image__list {
        margin-top: -140px; }
  .steps .button {
    opacity: 0;
    animation: fadeIn cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.75s forwards;
    animation-delay: .24s; }

.blog {
  padding-bottom: 72px; }
  @media screen and (min-width: 768px) {
    .blog {
      padding-bottom: 172px; } }
  .blog__title {
    margin-bottom: 24px;
    overflow: hidden; }
    .blog__title h2 {
      opacity: 0;
      animation: fadeInDown ease .75s forwards; }
  .blog__subtitle {
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn ease .75s forwards;
    animation-delay: .5s; }
    @media screen and (min-width: 768px) {
      .blog__subtitle {
        width: 50%;
        margin: 0 auto 56px; } }
  .blog__content {
    box-shadow: 0 15px 30px 0 rgba(46, 54, 78, 0.1);
    background-color: white;
    border-radius: 4px;
    animation: fadeInDown ease .75s forwards;
    animation-delay: .5s;
    opacity: 0; }
    @media screen and (min-width: 768px) {
      .blog__content {
        max-width: 606px;
        height: 350px;
        overflow: hidden;
        margin: 0 auto; } }
    .blog__content__image img {
      display: block;
      height: -webkit-fill-available; }
    .blog__content__text {
      padding: 40px 32px;
      text-align: left;
      background: #FFFFFF;
      border-radius: 0 4px 4px 0; }
      .blog__content__text__title {
        margin-bottom: 16px; }
      .blog__content__text__content {
        margin-bottom: 32px; }

.tech {
  padding: 56px 0; }
  @media screen and (min-width: 1024px) {
    .tech {
      padding: 80px 0; } }
  .tech__title {
    margin-bottom: 24px;
    overflow: hidden; }
    .tech__title h2 {
      opacity: 0;
      animation: fadeInDown ease .75s forwards; }
  .tech__text {
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn ease .75s forwards;
    animation-delay: .5s; }
    @media screen and (min-width: 768px) {
      .tech__text {
        max-width: 70%;
        margin: 0 auto 56px; } }
    @media screen and (min-width: 1024px) {
      .tech__text {
        max-width: 65%; } }
  .tech__buttons {
    opacity: 0;
    animation: fadeIn cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.75s forwards;
    animation-delay: .6s; }
    @media screen and (max-width: 767px) {
      .tech__buttons {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    @media screen and (min-width: 768px) {
      .tech__buttons {
        justify-content: center;
        flex-direction: row; } }
    .tech__buttons .button {
      display: flex; }
      .tech__buttons .button .icon {
        margin-right: 9px; }
      .tech__buttons .button:first-child {
        margin-bottom: 30px; }
        @media screen and (min-width: 768px) {
          .tech__buttons .button:first-child {
            margin-bottom: 0;
            margin-right: 30px; } }
    .tech__buttons .button:hover .icon--github {
      background: url("../images/github-white.svg") no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
      position: relative;
      z-index: 1;
      transition: background 0.3s ease; }
    .tech__buttons .button:hover .icon--slack {
      background: url("../images/slack-white.svg") no-repeat;
      background-size: cover;
      width: 19px;
      height: 19px;
      position: relative;
      z-index: 1;
      transition: background 0.3s ease; }

.how {
  padding: 72px 0; }
  @media screen and (min-width: 768px) {
    .how {
      padding: 172px 0; } }
  .how__title {
    margin-bottom: 10px;
    overflow: hidden; }
    .how__title h2 {
      opacity: 0;
      animation: fadeInDown ease .75s forwards; }
    @media screen and (min-width: 768px) {
      .how__title {
        margin-bottom: 56px; } }
  .how__subtitle {
    padding-bottom: 82px; }
    @media screen and (min-width: 768px) {
      .how__subtitle {
        padding-bottom: 58px;
        max-width: 70%;
        margin: 0 auto; } }
    @media screen and (min-width: 1024px) {
      .how__subtitle {
        max-width: 45%;
        padding-bottom: 77px; } }
  .how__slider {
    animation: fadeInDown ease .75s forwards;
    animation-delay: .5s;
    opacity: 0; }
    @media screen and (min-width: 768px) {
      .how__slider {
        background: #FFFFFF;
        box-shadow: 0 0 30px 0 rgba(46, 54, 78, 0.1);
        border-radius: 4px;
        padding: 40px 120px;
        position: relative;
        box-sizing: border-box;
        max-width: 730px;
        margin: 0 auto;
        min-height: 270px; } }
    @media screen and (min-width: 1024px) {
      .how__slider {
        padding: 51px 167px; } }
    .how__slider__left, .how__slider__right {
      background: url("../images/arrow.svg") no-repeat;
      background-position: 50%;
      width: 18px;
      height: 14px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      padding: 20px; }
    .how__slider__left {
      left: 22px;
      transform: translateY(-50%);
      transition: left 0.3s ease; }
      .how__slider__left:hover {
        left: 12px; }
    .how__slider__right {
      right: 22px;
      transform: translateY(-50%) rotate(180deg);
      transition: right 0.3s ease; }
      .how__slider__right:hover {
        right: 12px; }
    @media screen and (max-width: 767px) {
      .how__slider__content__list {
        display: flex;
        min-width: 100%;
        min-height: 100%;
        overflow-x: auto;
        padding: 32px;
        box-sizing: border-box; }
        .how__slider__content__list::-webkit-scrollbar {
          display: none; } }
    @media screen and (max-width: 767px) {
      .how__slider__content__list__item {
        min-width: 256px;
        margin-right: 16px;
        background: #FFFFFF;
        box-shadow: 0 15px 30px 0 rgba(46, 54, 78, 0.1);
        border-radius: 5px;
        padding: 40px 24px; } }
    .how__slider__content__list__item__title {
      font-size: 1.563rem;
      color: #2524FF;
      margin-bottom: 24px; }
      @media screen and (max-width: 767px) {
        .how__slider__content__list__item__title {
          font-size: 1.563rem; } }
    .how__slider__content__dots {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%); }
      .how__slider__content__dots__item {
        width: 8.5px;
        height: 8.5px;
        background: rgba(37, 36, 255, 0.2);
        border-radius: 10px;
        margin-right: 8px; }
        .how__slider__content__dots__item--active {
          background: #2524FF; }
        .how__slider__content__dots__item:last-child {
          margin-right: 0; }

.cta {
  padding-bottom: 72px; }
  @media screen and (min-width: 768px) {
    .cta {
      padding-bottom: 172px; } }
  .cta__title {
    margin-bottom: 24px;
    overflow: hidden; }
    .cta__title h2 {
      opacity: 0;
      animation: fadeInDown ease .75s forwards; }
  .cta__subtitle {
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn ease .75s forwards;
    animation-delay: .5s; }
    @media screen and (min-width: 768px) {
      .cta__subtitle {
        max-width: 70%;
        margin: 0 auto 56px; } }
  .cta__buttons {
    opacity: 0;
    animation: fadeIn cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.75s forwards;
    animation-delay: .6s; }
    @media screen and (min-width: 768px) {
      .cta__buttons {
        display: flex;
        justify-content: center; } }
  .cta .button:first-child {
    margin-bottom: 25px; }
    @media screen and (min-width: 768px) {
      .cta .button:first-child {
        margin-bottom: 0;
        margin-right: 21px; } }
  .cta .button__appstore {
    background: url("../images/appstore_badge.svg") no-repeat;
    background-size: cover;
    width: 265px;
    height: 64px;
    position: relative;
    z-index: 1; }
  .cta .button__playstore {
    background: url("../images/playstore_badge.svg") no-repeat;
    background-size: cover;
    width: 265px;
    height: 64px;
    position: relative;
    z-index: 1; }

.footer__content {
  padding: 56px 0;
  border-top: 1px solid rgba(203, 216, 229, 0.6); }
  @media screen and (min-width: 1024px) {
    .footer__content {
      padding: 80px 0; } }
  .footer__content__form {
    padding-bottom: 51px;
    max-width: 380px;
    flex: 1;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .footer__content__form {
        padding-bottom: 0;
        margin: initial; } }
    .footer__content__form__checkbox {
      margin: 16px 0 56px;
      display: flex;
      align-items: center; }
      @media screen and (min-width: 768px) {
        .footer__content__form__checkbox {
          margin-bottom: 0; } }
      .footer__content__form__checkbox__input {
        -webkit-appearance: none;
        background-color: transparent;
        border: 1px solid #2E364E;
        border-radius: 2px;
        padding: 6px;
        margin-right: 8px; }
        .footer__content__form__checkbox__input:active, .footer__content__form__checkbox__input:checked:active {
          background-color: rgba(37, 36, 255, 0.5); }
        .footer__content__form__checkbox__input:checked {
          background-color: #2524FF;
          border-color: #2524FF; }
    .footer__content__form__container {
      display: flex; }
      .footer__content__form__container__input {
        background: none;
        border: 2px solid #CBD8E5;
        border-radius: 30px 0 0 30px;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        color: #2E364E;
        letter-spacing: 0;
        display: block;
        padding-left: 24px;
        width: 100%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .footer__content__form__container__input::placeholder {
          font-family: 'Rubik', sans-serif;
          font-size: 16px;
          color: #2E364E;
          letter-spacing: 0;
          opacity: .6; }
        .footer__content__form__container__input:focus {
          border-color: #2524FF; }
      .footer__content__form__container__button {
        display: block;
        border-radius: 0 30px 30px 0;
        margin-left: -2px;
        font-family: 'Rubik', sans-serif;
        font-size: 13px;
        color: #FFFFFF;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        padding: 16px 24px; }

.footer__links {
  margin-top: -34px; }
  .footer__links__item {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #2524FF;
    letter-spacing: 0;
    font-weight: 500; }
    @media screen and (min-width: 768px) {
      .footer__links__item {
        margin-left: 16px; } }

.break {
  max-width: 300px;
  height: 1px;
  background-color: #CBD8E5;
  opacity: .6;
  margin: 0 auto; }

.icon {
  display: block; }
  .icon--github {
    background: url("../images/github.svg") no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    transition: background 0.3s ease;
    position: relative;
    z-index: 1; }
  .icon--slack {
    background: url("../images/slack.svg") no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    transition: background 0.3s ease;
    position: relative;
    z-index: 1; }
  .icon--camera {
    background: url("../images/camera.svg") no-repeat;
    background-size: cover;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    position: relative;
    z-index: 1; }
  .icon--sync {
    background: url("../images/sync.svg") no-repeat;
    background-size: cover;
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 1; }
  .icon--secure {
    background: url("../images/secure.svg") no-repeat;
    background-size: cover;
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 1; }
  .icon--share {
    background: url("../images/share.svg") no-repeat;
    background-size: cover;
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 1; }
  .icon--01 {
    background: url("../images/1.svg") no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1; }
  .icon--02 {
    background: url("../images/2.svg") no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1; }
  .icon--03 {
    background: url("../images/3.svg") no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 1; }

@keyframes widthLength {
  from {
    width: 0; }
  to {
    width: 100%; } }

.a--animated {
  background: url("../images/color.svg") no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position-x: 100%;
  transition: background-position-x 0.5s ease;
  position: relative; }
  .a--animated:hover {
    background-position-x: 0; }
  .a--animated:hover:after {
    width: 100%;
    transition: width 0.3s ease; }
  .a--animated:after {
    content: " ";
    width: 0;
    height: 2px;
    background-color: #FEB8D6;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease; }

@keyframes slideLeftAnim {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateX(-15%); } }

@keyframes slideRightAnim {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateX(15%); } }

.sbFadeLeft {
  animation-name: slideLeftAnim;
  animation-duration: 0.5s; }

.sbFadeRight {
  animation-name: slideRightAnim;
  animation-duration: 0.5s; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft {
  animation-name: fadeOutLeft; }

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig; }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 24px, 0px);
    -ms-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInDown7 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    opacity: 0.7;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInDown7 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 24px, 0px);
    -ms-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    opacity: 0.7;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

.fadeInDown7 {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-24px);
    transform: translateX(-24px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-24px);
    -ms-transform: translateX(-24px);
    transform: translateX(-24px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(56px);
    transform: translateX(56px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(56px);
    -ms-transform: translateX(56px);
    transform: translateX(56px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes SlideDown {
  0% {
    -webkit-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    -webkit-transform: none;
    transform: none; } }

@keyframes SlideDown {
  0% {
    -webkit-transform: translate3d(0px, 24px, 0px);
    -ms-transform: translate3d(0px, 24px, 0px);
    transform: translate3d(0px, 24px, 0px); }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

.SlideDown {
  -webkit-animation-name: SlideDown;
  animation-name: SlideDown; }

@-webkit-keyframes growLeft {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes growLeft {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0); }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); } }

.growLeft {
  -webkit-animation-name: growLeft;
  animation-name: growLeft; }

body {
  background: url("../images/background.svg"), no-repeat;
  background-size: cover;
  background-position: 50%;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Rubik', sans-serif; }

.container {
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  margin: 0 auto; }
  @media screen and (min-width: 520px) and (max-width: 768px) {
    .container {
      width: 80%; } }
  @media screen and (min-width: 769px) {
    .container {
      max-width: 1024px;
      padding: 0 20px; } }

input:focus, button:focus {
  outline: none; }

a {
  color: #2524FF;
  text-decoration: none; }
